{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Weekly Coupons Schedule</h1>
    
    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th>Day</th>
            <th>Discounts</th>
        </tr>
        {% for day, discounts in weekly_schedule.items() %}
        <tr>
            <td>{{ day }}</td>
            <td>
                <ul>
                    {% for discount in discounts %}
                    <li>{{ discount.name }}: {{ discount.discount }}</li>
                    {% else %}
                    <li>No discounts available</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
