{% extends 'base.html' %}

{% block content %}
    <h1>Promotions</h1>
    <section class="container">
        <h1 class="text-center my-5">Promotions</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card promotion-card">
                    <img src="path/to/promotion-image1.jpg" alt="Promotion image 1">
                    <div class="card-body">
                        <h2 class="promotion-title">Promotion Title 1</h2>
                        <p class="promotion-description">Promotion description 1 goes here.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card promotion-card">
                    <img src="path/to/promotion-image2.jpg" alt="Promotion image 2">
                    <div class="card-body">
                        <h2 class="promotion-title">Promotion Title 2</h2>
                        <p class="promotion-description">Promotion description 2 goes here.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card promotion-card">
                    <img src="path/to/promotion-image3.jpg" alt="Promotion image 3">
                    <div class="card-body">
                        <h2 class="promotion-title">Promotion Title 3</h2>
                        <p class="promotion-description">Promotion description 3 goes here.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card promotion-card">
                    <img src="path/to/promotion-image4.jpg" alt="Promotion image 4">
                    <div class="card-body">
                        <h2 class="promotion-title">Promotion Title 4</h2>
                        <p class="promotion-description">Promotion description 4 goes here.</p>
                    </div>
                </div>
            </div>
            <!-- Add more promotion cards as needed -->
        </div>
        
    </section>

    <footer>
        <!-- Add your site footer here, such as copyright and social media links -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/js/promotions.js"></script>

{% endblock %}
